* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Helvetica';
}

a {
  color: #0645ad;
}

a:hover {
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 85px auto 125px;
}

.sidebar {
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  font-size: 12px;
  width: 160px;
  padding-left: 5px;
}

.sidebar .sidebar-logo {
  background-image: url('https://es.wikipedia.org/static/images/project-logos/eswiki20a-2x.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
  width: 160px;
  height: 160px;
  display: block;
}

.sidebar section {
  padding: 25px 20px 0px 20px;
}

.sidebar h6 {
  color: #54595d;
  font-size: 12px;
  padding-bottom: 4px;
  margin-bottom: 6px;

  background-image: linear-gradient(
    to right,
    rgba(200, 204, 209, 0) 0,
    #c8ccd1 33%,
    #c8ccd1 66%,
    rgba(200, 204, 209, 0) 100%
  );
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  color: #54595d;
}

.sidebar section ul li {
  padding: 2px 0;
}

header {
  grid-column: 2 / 13;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 12px;
  padding-top: 12px;
  background-color: #fefefe;
}

header .top-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .top-header ul {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

header .top-header ul li {
  padding-left: 10px;
}

header .bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

header ul {
  align-items: center;
  display: flex;
}

header .bottom-header li {
  padding-bottom: 8px;
  padding-top: 8px;
}

header .bottom-header .highlight {
  background-image: linear-gradient(to top, #77c1f6 0, #e8f2f8 1px, #ffffff 100%);
}

header .bottom-header .right-navbar {
  align-items: center;
  display: flex;
}

header li {
  padding: 0 15px;
}

header .bottom-header input {
  outline: none;
  border: none;
  font-size: 12px;
  height: 25px;
}

header .bottom-header .right-navbar .input-container {
  border: 1px solid gray;
  padding: 0 10px;
  margin-right: 10pxh;
  display: flex;
  align-items: center;
}

header .search-logo {
  background-image: url('https://es.wikipedia.org/w/skins/Vector/resources/common/images/search.svg?bbf78');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 15px;
  width: 15px;
}

main {
  grid-column: 2/13;
  border: 1px solid #a7d7f9;
  padding: 30px 20px;
}

main .main-top {
  margin: 15px 20px;
  border: 1px solid #c8ccd1;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e3/Wikipedia_logo_letters_banner.svg');
  background-position: right;
}

main .main-top .main-top-left {
  padding: 40px 0px 40px 20px;
  background-image: linear-gradient(to right, #f8f9fa 0%, #f8f9fa 70%, rgba(248, 249, 250, 0) 100%);
  width: 45%;
}

main .main-top-left h1 {
  font-weight: normal;
  font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
  padding-bottom: 20px;
}

main .main-top .main-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 55%;
  padding: 40px 20px 40px 0px;
}

main .main-top .main-top-right nav ul {
  padding-top: 20px;
  display: flex;
}

main .main-top .main-top-right nav ul li {
  padding-left: 10px;
}

main .main-top .main-top-right nav ul li a {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

main .main-top .main-top-right nav ul li a:hover {
  color: #0645ad;
  text-decoration: none;
  background-color: white;
}

main .main-content {
  display: grid;
  grid-template-columns: 6fr 4fr;
  column-gap: 20px;
  margin: 20px 20px;
  line-height: 1.7rem;
}

main .main-content h2 {
  font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
  font-weight: normal;
  padding-bottom: 15px;
}

main .main-content .featured {
  border: 1px solid #c8ccd1;
  padding: 20px;
}

main .main-content .featured span {
  color: gray;
}

main .featured .featured-image-container {
  width: 180px;
  float: right;
  padding: 10px;
  background-color: #f0f8ff;
  border: 1px solid #c8ccd1;
  margin-left: 30px;
  font-size: 13px;
  line-height: 1.1rem;
}

main .featured .featured-image-container img {
  width: 100%;
  height: auto;
}

main .featured .feature-article-content p {
  margin-bottom: 10px;
}

main .main-content .today {
  border: 1px solid #c8ccd1;
  padding: 20px;
}

main .main-content .today ul {
  padding: 10px 0 20px 0;
}

main .main-content .today li {
  list-style: disc;
  margin-left: 23px;
}

footer {
  grid-column: 2 / span 11;
  font-size: 13px;
  padding: 25px 15px;
  background-color: #f6f6f6;
}

footer ul {
  display: flex;
  padding-top: 20px;
}

footer ul li {
  padding-right: 20px;
}
